.container{
    width: 1424px;
    margin-top: 0; 
    margin-left: auto;
    margin-right: auto;
    /* background: blue; */
}
.logo_main_page{
    width: 288px;
    height: 35px;
    /* background: yellow; */
    padding-top: 35px;
    margin-bottom: 13px;
}

.icon{
    width: 53px;
    height: auto;
    background: white;
    /* float: right; */
    margin-left: 8px;
}
.search_icon{
    width: 16px;
    height: auto;
    /* float: left; */
    position: absolute;
    padding: 8px 0px 0px 16px;
}
.x_icon{
    width: 30px;
    height: auto;
    /* float: left; */
    position: absolute;
    margin: 4px 0px 110px -40px;
}
.search_bar input{
    width: 768px;
    height: 38px;
    border: 2px solid #ADADAD;
    border-radius: 8px;
    /* float: left; */
}

.search_bar{
margin-right: 241px;
}
.top__button button{
    width: 239px;
    height: 44px;
    float: left;
    /* margin-left: 240px; */
    margin-right: 23px;
}

.under__button button{
    width: 361px;
    height: 58px;
    /* display: inline; */
    float: left;
    margin-left: 93px;
    margin-right: -43px;
}

.inline_blocks{
    float: left;
    /* background: red; */
}

.up_bar{
/* align-items: center; */
position: relative;
}

.file-table-container{
width: 100%;
height: 400px;
background: gray;
margin-top: 30px;
}

/* Для родительского контейнера */
.up_bar {
    position: relative;
    display: flex;  /* Включаем flexbox */
    justify-content: center;  /* Центрируем элементы по горизонтали */
    align-items: center;  /* Центрируем элементы по вертикали (если нужно) */
}

/* Убираем float у .inline_blocks */
.inline_blocks {
    float: none;
    /* background: red; Это можно оставить для наглядности */
}








.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .source-group {
    margin-bottom: 10px;
  }





