/* Светлая тема */
body.light {
    background-color: #ffffff;
    color: #000000;
}

body.light .MuiTable-root {
    background-color: #ffffff;
    color: #000000;
}

body.light .MuiTableCell-root {
    border: 1px solid #dddddd;
}


/* Темная тема */
